/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/styles/navbar.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Anurati";
  /*a name to be used later*/
  src: url("/fonts/Anurati-Regular.otf");
  /*URL to font*/
}

.logo_text {
  font-family: "Anurati";
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
  /*URL to font*/
}
.light_logo {
  color: black;
}

