/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/styles/loading.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Anurati";
  /*a name to be used later*/
  src: url("/fonts/Anurati-Regular.otf");
  /*URL to font*/
}

.load_text {
  font-family: "Anurati";
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
  /*URL to font*/
}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/styles/navbar.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Anurati";
  /*a name to be used later*/
  src: url("/fonts/Anurati-Regular.otf");
  /*URL to font*/
}

.logo_text {
  font-family: "Anurati";
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
  /*URL to font*/
}
.light_logo {
  color: black;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/styles/team.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.image-container {
  position: relative;
}

.text-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.team-title {
  font-size: 1rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.team-sub {
  font-size: 0.8rem;
  font-weight: 400;
}

